.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 18px;
}

.image {
  border-radius: 10px;
  width: 150px;
  max-width: 100%;
}

.name {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 14px;
}

.description {
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 40px;
}

.interestName {
  text-align: center;
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 500;
}

.chatInput {
  width: 100%;
  resize: none;
}
