.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 30px 18px;
}

.searchedInterestsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  font-weight: 600;
  font-size: 30px;
  color: #ff6b38;
}

.interestsContainer {
  align-self: center;
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: auto;
  row-gap: 30px;
  column-gap: 30px;
  justify-items: center;
}

.interestLink {
  text-decoration: none;
  color: inherit;
}
