.mainContainer {
  width: 256px;
  height: 325px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.image {
  height: 100%;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.plusSign {
  height: 60px;
  width: 60px;
}

.name {
  font-size: 22px;
}
