.searchForm {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
}

.searchForm {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
}

.searchInput {
  height: 100%;
  border: 1px solid white;
  border-radius: 14px;
  padding: 2px 5px 2px 10px;
  font-size: 16px;
  width: 230px;
  box-sizing: border-box;
  margin-right: 5px;
}

.searchInput::placeholder {
  opacity: 0.5;
  color: #ff6b38;
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  font-size: 18px;
  height: 100%;
  background: none;
  color: white;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 14px;
  width: 40px;
  border: 0px;
}

.searchButton:focus {
  outline: none;
}
