.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 10px;
  flex-grow: 0;
  flex-shrink: 0;
}

.chatInput {
  border: none;
  resize: none;
  flex-grow: 1;
  background: transparent;
  height: 40px;
  font-size: 18px;
  line-height: 24px;
  padding-top: 8px;
}

.chatInput:focus {
  outline: none;
}

.button {
  color: var(--primary-color);
  margin: 0 10px;
  padding: 0;
  background: none;
  cursor: pointer;
  border: 0px;
}

.button:focus {
  outline: none;
}
