.mainContainer {
  padding: 10px;
  display: grid;
  grid-template-areas: "image name interest" "image message message";
  grid-template-rows: 30px 40px;
  grid-template-columns: 2fr 2fr 1fr;
}

.image {
  grid-area: image;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
}

.name {
  grid-area: name;
  align-self: baseline;
  font-size: 18px;
  justify-self: left;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.message {
  grid-area: message;
  align-self: center;
  justify-self: left;
  max-width: 100%;
  max-height: 100%;
}

.interest {
  grid-area: interest;
  justify-self: right;
  margin: 0;
  color: var(--secondary-color);
  max-width: 100%;
  max-height: 100%;
}

.notRead {
  font-weight: 600;
}
