.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  padding: 4px 0 4px 4px;
}

.chatInput {
  border: none;
  width: 100%;
  resize: none;
  background: transparent;
  height: 40px;
  font-size: 16px;
}

.chatInput:focus {
  outline: none;
}

.button {
  color: var(--primary-color);
  margin: 0 10px;
  padding: 0;
  background: none;
  cursor: pointer;
  border: 0px;
}

.button:focus {
  outline: none;
}
