.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coverImageDiv {
  position: absolute;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  z-index: -999;
}

.coverImage {
  width: 100%;
}

.logoWithName {
  margin-top: 15vh;
  width: 330px;
  max-width: 90%;
  opacity: 0.9;
}

.facebookButtonContainer {
  position: absolute;
  width: 300px;
  max-width: 100%;
  bottom: 10%;
}
