.mainContainer {
  background-color: white;
  display: grid;
  grid-template-areas:
    "image name age"
    "image description description";
  grid-template-columns: 100px 8fr 1fr;
  grid-template-rows: 45px 45px;
  border-radius: 10px;
  padding: 15px 15px;
  column-gap: 20px;
  cursor: pointer;
}

.image {
  grid-area: image;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.age {
  grid-area: age;
  font-size: 18px;
  align-self: center;
  justify-self: center;
}

.name {
  grid-area: name;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  align-self: center;
}

.description {
  grid-area: description;
  align-self: baseline;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
