.mainContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  min-height: 0;
}

.contactsContainer {
  flex-basis: 350px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.contactsNav {
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
}

.contactNavLink {
  font-size: 18px;
  color: grey;
  flex-basis: 50%;
  text-align: center;
}

.contactNavLink + .contactNavLink {
  border-left: 1px solid grey;
}

.activeContactNavLink {
  color: var(--primary-color);
  font-size: 19px;
}
