.mainContainer {
  flex-grow: 1;
  background-color: #ffab45;
  display: flex;
  flex-direction: column;
  padding: 30px 0px 0px;
  align-items: center;
  padding: 30px 30px;
}

.joinButton {
  width: 350px;
  height: 50px;
  max-width: 100%;
  background-color: white;
  font-size: 28px;
  border-radius: 36px;
  border: none;
  cursor: pointer;
  color: #ff6b38;
  font-weight: 500;
  margin-bottom: 40px;
}

.joinButton:focus {
  outline: none;
}

.joinButton:disabled {
  opacity: 0.8;
  cursor: auto;
}

.image {
  width: 250px;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.name {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 45px;
}

.peopleContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  column-gap: 30px;
  row-gap: 30px;
}
