.mainContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
}

.messagesContainer {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.lastMessage {
  margin-bottom: 10px;
}

.messageSent {
  color: white;
  max-width: 90%;
  background-color: var(--primary-color);
  align-self: flex-end;
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  margin-right: 20px;
}

.messageReceived {
  color: black;
  max-width: 90%;
  background-color: lightgrey;
  justify-self: flex-start;
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 20px;
  width: fit-content;
}

.div1 {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: red;
  overflow-y: scroll;
}

.div2 {
  flex-basis: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: greenyellow;
}

.tooBig {
  height: 10000px;
}
