.modalContainer {
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 0px 24px;
}

.nav {
  display: flex;
  flex-direction: row;
  margin: 16px -8px 0 2px;
  justify-content: space-between;
}

@media (min-width: 500px) {
  .innerContainer {
    width: 90%;
    max-width: 425px;
    min-height: 579px;
    height: auto;
    padding: 0px 48px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    margin: 16px -32px 0 -22px;
    justify-content: space-between;
  }
}

.closeButton {
  height: 32px;
  width: 23px;
  cursor: pointer;
  margin-left: auto;
}
