.mainContainer {
  height: 56px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffab45;
}

.logo {
  height: 35px;
  width: auto;
  margin-right: 50px;
}

.profileImage {
  height: 45px;
  width: 45px;
  border-radius: 22px;
  margin-right: 7px;
}

.navlink {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  color: white;
  margin-left: 20px;
}

.profileLink {
  display: flex;
  align-items: center;
  display: relative;
}

.conversationsLink {
  position: relative;
}

.activeNavlink {
  color: white;
  text-decoration: none;
  color: #ff6b38;
}

.linkContainer {
  display: relative;
}

.notificationSymbol {
  height: 12px;
  width: 12px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: var(--secondary-color);
  margin: 0px;
  opacity: 0.8;
}
