.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.userInfo {
  border-radius: 10px;
  background-color: var(--primary-color);
  padding: 30px;
  display: grid;
  grid-template-areas:
    "profileImage name age"
    "profileImage description description";
  grid-template-rows: 190px 190px;
  grid-template-columns: 380px 1fr 1fr;
  column-gap: 40px;
  justify-items: center;
  align-items: center;
}

.profileImage {
  grid-area: profileImage;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.name {
  grid-area: name;
  font-size: 45px;
  color: white;
  font-weight: 500;
  justify-self: left;
}

.age {
  font-size: 40px;
  color: white;
  font-weight: 500;
  justify-self: center;
  grid-area: age;
}

.descriptionContainer {
  grid-area: description;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 500;
  color: white;
  justify-self: left;
  align-self: baseline;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.descriptionForm {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  flex-shrink: 0;
}

.descriptionTextarea {
  resize: none;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.descriptionTextarea:focus {
  outline: none;
}

.descriptionP {
  flex-grow: 1;
  margin-bottom: 0px;
}

.button {
  color: white;
  background: none;
  margin: 0 10px;
  padding: 0 30px;
  cursor: pointer;
  border: 0px;
  align-self: center;
  font-size: 25px;
  border: 1px solid white;
  border-radius: 5px;
}

.button:focus {
  outline: none;
}

.interestsContainer {
  align-self: center;
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: auto;
  row-gap: 30px;
  column-gap: 30px;
  justify-items: center;
}

.interestDiv {
  display: flex;
  flex-direction: column;
}

.deleteInterestForm {
  align-self: center;
}

.deleteInterestButton {
  color: var(--primary-color);
  background: none;
  cursor: pointer;
  border: 0px;
  align-self: center;
  font-size: 25px;
  margin-top: 15px;
}

.deleteInterestButton:focus {
  outline: none;
}

.horizontalDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.distanceInput {
  margin-right: 20px;
  height: 1rem;
}
