.mainContainer {
  background-color: #1877f2;
  height: auto;
  max-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #1877f2;
  box-sizing: border-box;
  cursor: pointer;
}

.logo {
  width: 30px;
  height: 30px;
  margin: 12px 0 12px 20px;
}

.textContainer {
  display: flex;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 0;
  line-height: 20px;
  font-size: 20px;
  color: white;
  margin-bottom: 0;
}

.inactive {
  opacity: 0.5;
}
